@import 'o-card/main';

$alphaville-card__color--bg-lead: #fce2d7;
$alphaville-card__color--av-text-bg: #f6d6ce;
$alphaville-card__color--heading-lead: #a02d4f;
$alphaville-card__color--strip: #d8c2b8;


$alphaville-card--marketslive__color--bg: #443c47;
$alphaville-card--marketslive__color--notification: #6a636c;
$alphaville-card--marketslive__color--label: #f4a208;
$alphaville-card--marketslive__color--heading: #fffce9;
$alphaville-card--marketslive__color--standfirst: #c6c4c6;

$alphaville-card--firstft__color--label: #b35400;
$alphaville-card--firstft__color--heading: oColorsGetPaletteColor('grey-tint3');

.alphaville-card--fill-space {
	height: 100%;
	padding-bottom: 10px;
}

.alphaville-card__heading {
	@include oCardHeading;
}

.alphaville-card__heading--invert {
	@include oCardHeading;
	color: oColorsGetPaletteColor('cold-2');
}

.alphaville-card__heading-truncate {
	max-height: 60px;
	overflow: hidden;
}

.alphaville-card__heading-truncate--3lines {
	max-height: 90px;
	overflow: hidden;
}

.alphaville-card__tag {
	@include oCardTag;
}

.alphaville-card__standfirst {
	@include oCardStandfirst;
}

.alphaville-card__standfirst-truncate {
	max-height: 54px;
	overflow: hidden;
}

.alphaville-card__timestamp {
	@include oCardTimestamp;
}

.alphaville-card__content {
	position: relative;
}


.alphaville-card {
	overflow: hidden;
	background-color: oColorsGetPaletteColor('warm-5');

	p {
		margin: 0;
	}

	$comment-counter-color: #22757c;
	.alphaville-card--comment-counter {
		@include oTypographySansSize(s);
		font-size: 14px;
		color: $comment-counter-color;
		float: right;
		padding: 9px 0;

		&:after {
			@include oIconsGetIcon('comment', $comment-counter-color, 14);
			content: '';
			position: relative;
			margin-left: 5px;
			vertical-align: middle;
		}
	}
}

.alphaville-card--marketslive-live {
	background-color: $alphaville-card--marketslive__color--bg;
	position: relative;
	padding: 10px;

	.alphaville-card--marketslive-live--lozenge {
		@include marketslive-lozenge-icon(
			$size: 120,
			$color: $alphaville-card--marketslive__color--notification);

		position: absolute;
		top: -55px;
		right: -60px;
	}

	.alphaville-card--marketslive-live-lozenge-icon {
		@include marketslive-lozenge-icon(
			$size: 18,
			$bgColor: oColorsGetPaletteColor('pink'));
		margin-bottom: -2px;
	}

	.alphaville-card__heading {
		@include oTypographySansData('xl');
		line-height: 26px;
		font-size: 25px;
		margin-bottom: 12px;

		&,
		a {
			color: $alphaville-card--marketslive__color--heading;
		}
	}

	.alphaville-card__theme {
		@include oTypographySansData('xl');
		line-height: 26px;
		font-size: 25px;
		margin-bottom: 4px;

		&:before {
			position: absolute;
			top: 0;
			left: 2px;
			width: 97px;
			height: 8px;
			content: '';
			background: #f4a208;
			margin-top: -10px;
		}

		a {
			text-decoration: none;
			text-transform: uppercase;

			.alphaville-card__theme-part1 {
				color: $alphaville-card--marketslive__color--label;
			}

			.alphaville-card__theme-part2 {
				color: oColorsGetPaletteColor('white');
				font-weight: 600;
			}
		}
	}

	.alphaville-card__standfirst {
		color: $alphaville-card--marketslive__color--standfirst;
	}
}

.alphaville-card--firstft {
	.alphaville-card__tag {
		@include oTypographySerif('l');
		color: $alphaville-card--firstft__color--label;
		font-size: 28px;
		line-height: 29px;
		margin-bottom: 2px;

		.alphaville-card__tag-part1 {
			font-style: italic;
		}

		.alphaville-card__tag-part2 {}
	}

	.alphaville-card__heading {
		@include oTypographySansBold('s');

		&,
		a {
			color: $alphaville-card--firstft__color--heading;
		}
	}

	.alphaville-card__heading-truncate {
		max-height: 34px;
		overflow: hidden;
	}

	.alphaville-card__heading-truncate--3lines {
		max-height: 51px;
		overflow: hidden;
	}
}
