@import 'o-card/main';
@import 'o-grid/main';

$alphaville-card__color--bg-lead: #fce2d7;
$alphaville-card__color--av-text-bg: #f6d6ce;
$alphaville-card__color--heading-lead: #a02d4f;
$alphaville-card__color--strip: #d8c2b8;

.alphaville-card--fill-space {
	height: 100%;
	padding-bottom: 10px;
	background-color: oColorsGetPaletteColor('warm-5');
}

.alphaville-card__heading {
	@include oCardHeading;
}

.alphaville-card__tag {
	@include oCardTag;
}

.alphaville-card__standfirst {
	@include oCardStandfirst;
}

.alphaville-card__timestamp {
	@include oCardTimestamp;
}

.alphaville-card__content {
	position: relative;
}

.alphaville-card__image {
	text-align: center;
	height: 50%;
	position: relative;

	img {
		max-width: 100%;
		max-height: 100%;
		display: inline-block;
	}
}

.alphaville-card__byline a {
	@include oTypographySerif('m');
	color: oColorsGetPaletteColor('grey-tint5');
}

.alphaville-card--hero {
	@include oCard;
	background-color: $alphaville-card__color--bg-lead;
	position: relative;
	padding: 20px;

	&:before {
		@include oTypographySansBold('xl');
		content: 'AV';
		position: absolute;
		right: -10%;
		top: 35%;
		font-weight: bold;
		font-size: 620px;
		color: $alphaville-card__color--av-text-bg;
		letter-spacing: -40px;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		background-image: repeating-linear-gradient(
			45deg,
			transparent,
			transparent 4px,
			$alphaville-card__color--strip 4px,
			$alphaville-card__color--strip 5px);
		background-size: 9px 7px;
		height: 100%;
		width: 9px;
	}

	.alphaville-card__content {
		max-height: 100%;
		overflow: hidden;
	}

	.alphaville-card__image {
		width: 100%;
		height: auto;
	}

	.alphaville-card__heading {
		@include oTypographySansBold('l');
		font-weight: bold;
		color: $alphaville-card__color--heading-lead;

		@include oGridRespondTo(M) {
			@include oTypographySansBold('xl');
		}

		&.alphaville-card__heading-truncate {
			@include oGridRespondTo(M) {
				max-height: 80px;
			}
		}
	}

	.alphaville-card__standfirst {
		color: oColorsGetPaletteColor('cold-1');
	}

	.alphaville-card__tag {
		margin: 0 0 8px;
	}

	.alphaville-card__timestamp {
		padding: 16px 0 10px;
	}
}

.alphaville-card--author-lead {
	@include oCard;
	background-color: $alphaville-card__color--bg-lead;
	position: relative;
	padding: 20px;

	&:before {
		@include oTypographySansBold('xl');
		content: 'AV';
		position: absolute;
		right: -90%;
		top: 40%;
		font-weight: bold;
		font-size: 520px;
		color: $alphaville-card__color--av-text-bg;
		letter-spacing: -64px;
		width: 250%;
		text-align: center;
	}

	.alphaville-card__image {
		height: 124px;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 58px;
			height: 46px;
			background: url($in-app-assets-global-path + 'images/quotes.svg');
			background-size: 58px 46px;
			opacity: 0.5;
		}

		img {
			border-radius: 50%;
			background: oColorsGetPaletteColor('white');
		}
	}

	.alphaville-card__heading {
		@include oTypographySansBold('l');
		font-weight: bold;
		color: $alphaville-card__color--heading-lead;

		@include oGridRespondTo(M) {
			font-size: 32px;
			line-height: 30px;
		}
	}

	.alphaville-card__standfirst {
		color: oColorsGetPaletteColor('cold-1');
	}

	.alphaville-card__tag {
		margin: 0 0 8px;
	}

	.alphaville-card__timestamp {
		padding: 8px 0 0;
	}
}

.alphaville-card {
	overflow: hidden;

	p {
		margin: 0;
	}

	.alphaville-card__heading-truncate {
		max-height: 60px;
		overflow: hidden;
	}

	.alphaville-card__standfirst-truncate {
		max-height: 50px;
		overflow: hidden;
	}
}
