<div class="o-card__meta card-primaryTheme">
  <a href="#" class="o-card__tag">{{_source.primaryTheme}}</a>
</div>

<h2 class="o-card__heading"><a href="{{_webUrl}}">{{{_source.title}}}</a></h2>

<div class="post-openingHTML">
  <div class="description">This Markets Live session is closed. <a href="{{_webUrl}}">Read more</a></div>
  <p>Live markets commentary from FT.com</p>
</div>
