<div class="o-card__meta card-primaryTheme">
  <a href="#" class="o-card__tag">{{_source.primaryTheme}}</a>
</div>

<h2 class="o-card__heading"><a href="{{_webUrl}}">{{{_source.title}}}</a></h2>

<div class="post-openingHTML">
  <ul>
  {{#_source.summaries}}
    <li>{{this}}</li>
  {{/_source.summaries}}
  </ul>
</div>
