{{#_source.comments.enabled}}
<a href="/content/{{_source.id}}#comments" class="article__share__comments" data-o-comment-count-config-hide-if-zero="false" data-o-component="o-comment-count" data-o-comment-count-config-article-id="{{_source.id}}" data-o-comment-count-config-template="{count}"></a>
{{/_source.comments.enabled}}
