{{#curation}}
	<select class="alphaville-card-curation" data-last-selected="{{selected}}">
		{{#options}}
			<option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{label}}</option>
		{{/options}}
	</select>
{{/curation}}
