<div class="ml-visible-editors">
	{{#unless noCreateNewSession}}
	<div class="o-grid-row">
		<div data-o-grid-colspan="12">
			<button class="o-buttons o-buttons--big ml-create-new-session-btn">Create new session</button>
		</div>
	</div>
	<br />
	{{/unless}}
</div>
