<div class="alphaville-content-box alphaville-recent-post {{#rhr}}alphaville-recent-post-rhr{{/rhr}}">
	<h4 class="alphaville-content-box__title">Read next:</h4>

	{{> list-cards/card-generic rhr=rhr}}


</div>