<div class="recent-post">
    <h4 class="recent-post__title">Read latest:</h4>
    <a class="recent-post__link" href="/content/{{id}}">{{title}}</a>
    <time data-o-component="o-date" class="o-date" datetime="{{publishedDate}}">{{publishedDate}}</time>
</div>
