<div class="av-series-wrapper" data-trackable="serie-wrapper">
    <div class="av-series-title">Part of the <span>{{series.prefLabel}} SERIES</span></div>
    <ol class="av-series-articles">
        {{#articles}}
            <li><a href="{{#articleSeriesUrl webUrl}}{{/articleSeriesUrl}}" data-trackable="link">{{title}}</a></li>
        {{/articles}}
    </ol>
</div>
