<div class="av-series-wrapper">
    <div class="av-series-title">Part of the <span>{{series.prefLabel}} SERIES</span></div>
    <ol class="av-series-articles">
        {{#articles}}
            <li><a href="{{#articleSeriesUrl webUrl}}{{/articleSeriesUrl}}">{{title}}</a></li>
        {{/articles}}
    </ol>
</div>
