<div data-o-component="o-expander" class="o-expander o--if-js clearfix alphaville-series__wrapper"
		data-o-expander-shrink-to="hidden"
		data-o-expander-expanded-toggle-text="Part of the <span>{{series.prefLabel}} SERIES</span>"
		data-o-expander-collapsed-toggle-text="Part of the <span>{{series.prefLabel}} SERIES</span>"
		data-article-url="{{_source.av2WebUrl}}"
		data-trackable="serie-wrapper">
	<button class="o-expander__toggle o--if-js alphaville-series__toggle" data-trackable="toggle"></button>
	<div class="o-expander__content alphaville-series__content">
		<ol class="alphaville-series__articles">
			{{#articles}}
				<li><a href="{{#articleSeriesUrl webUrl}}{{/articleSeriesUrl}}" data-trackable="link">{{title}}</a></li>
			{{/articles}}
		</ol>
	</div>
</div>
