<article class="article__body n-content-body" data-trackable="body" data-content-id="{{}}" data-content-sources="v1 v2">
	{{#article.attachments}}
		<audio controls data-trackable="audio">
			<source src="{{url}}" type="{{mediaType}}">
			<p>
				Your browser does not support playing this file but you can still <a href="{{url}}" data-trackable="download-audio">download the MP3 file</a> to play locally.
			</p>
		</audio>
	{{/article.attachments}}

	{{{article.bodyHTML}}}
</article>
