{{#contentFor "head"}}
<link rel="stylesheet" href="{{assetsBasePath}}/build/curation.css" />
<script>
	(function () {
		ctmLoadScript({
			src: "{{assetsBasePath}}/build/curation.js",
			async: true
		});
	}());
</script>
{{/contentFor}}

<div class="o-grid-container">
	<div class="o-grid-row">
		<div data-o-grid-colspan="12 M6 L3">

			<form name="standfirst-char-limit-form">
				<label class="o-forms-field">
					<span class="o-forms-title">
						<span class="o-forms-title__main">Standfirst character limit</span>
					</span>

					<span class="o-forms-input o-forms-input--text o-forms-input--suffix">
						<input type="text" id="standfirst-char-limit" name="standfirst-char-limit" value="{{standfirstCharLimit}}">
						<button type="submit" class="o-buttons o-buttons--primary o-buttons--big"
							name="save-standfirst-char-limit">Save</button>
					</span>
				</label>
			</form>

		</div>
	</div>
</div>

<div class="o-grid-container alphaville-article-grid">
	<div class="o-grid-row">
		{{> grid-cards/item-list}}
	</div>
</div>
