{{#contentFor "head"}}
<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />
<script>
	(function () {
		ctmLoadScript({
			src: "{{assetsBasePath}}/build/main.js",
			async: true
		});
	}());
</script>
{{/contentFor}}

<div class="o-grid-container alphaville-article-grid alphaville-content">
	<div class="o-grid-row">
		{{#searchResults}}
			{{#isMarketsLive}}
				{{#isLive}}
					{{> grid-cards/card-marketslive-live}}
				{{/isLive}}
				{{^isLive}}
					{{> grid-cards/card-marketslive}}
				{{/isLive}}
			{{/isMarketsLive}}

			{{^isMarketsLive}}
				{{> grid-cards/card-blog}}
			{{/isMarketsLive}}

			{{> adBetweenCards}}

		{{/searchResults}}
	</div>
</div>

{{> alphaville-comments-config/main }}
