{{#contentFor "head"}}
<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />
<script>
	(function () {
		ctmLoadScript({
			src: "{{assetsBasePath}}/build/main.js",
			async: true
		});
	}());
</script>
{{/contentFor}}

<div class="o-grid-container alphaville-article-grid">
	<div class="o-grid-row">
		{{#hero}}
			{{> card-hero}}
		{{/hero}}

		{{#searchResults}}

			{{#isBlog}}
				{{> card-blog}}
			{{/isBlog}}

			{{#isBriefing}}
				{{> card-briefing}}
			{{/isBriefing}}

			{{#isMarketsLive}}
				{{> card-marketslive}}
			{{/isMarketsLive}}

			{{#isPodcast}}
				{{> card-podcast}}
			{{/isPodcast}}

			{{#isAuthorLead}}
				{{> card-authorLead}}
			{{/isAuthorLead}}

			{{#isAuthorLeadWithImage}}
				{{> card-authorLeadWithImage}}
			{{/isAuthorLeadWithImage}}

			{{#isTopicLead}}
				{{> card-topicLead}}
			{{/isTopicLead}}

			{{#isStoryImage}}
				{{> card-storyImage}}
			{{/isStoryImage}}

			{{> adBetweenCards}}

		{{/searchResults}}
	</div>
</div>

{{> alphaville-comments-config/main }}
