{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />
	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

<div class="o-grid-container alphaville-article-list">
	<div class="o-grid-row">
		<div class="main" data-o-grid-colspan="12 L8">
			<div class="article-list">
				{{#searchResults}}
					{{> article-list }}
					{{> adBetweenCards}}
				{{/searchResults}}
			</div>
		</div>
		<div class="main" data-o-grid-colspan="hide L4">
			{{> twitterWidget}}
		</div>
	</div>
</div>
