{{#contentFor "head"}}
<link rel="stylesheet" href="{{assetsBasePath}}/build/index.css" />
<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

<div class="o-grid-container">
	<div class="o-grid-row">
  {{#hero}}
    {{> card_hero}}
  {{/hero}}

		{{#searchResults}}

    <div class="main {{_source.cardType}}" data-o-grid-colspan="12 S6 M4 XL3">

      <div class="o-card o-card-- o-card--image-" data-o-component="o-card">

        <div class="o-card__content">

          {{#isBlog}}
            {{> card_blog}}
          {{/isBlog}}

          {{#isBriefing}}
            {{> card_briefing}}
          {{/isBriefing}}

          {{#isMarketLive}}
            {{> card_marketlive}}
          {{/isMarketLive}}

          {{#isPodcast}}
            {{> card_podcast}}
          {{/isPodcast}}

        </div>

      </div>

    </div>

		{{/searchResults}}
	</div>
</div>

{{> commentsConfig}}
