{{#contentFor "head"}}
	<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />
	<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

<div class="o-grid-container alphaville-article-list">
	<div class="o-grid-row">
		<div class="main" data-o-grid-colspan="12 L8">
			{{#searchResults}}
				<div class="o-grid-row">
					<div class="alphaville-list-time" data-o-grid-colspan="12 L2">
						<div class="alphaville-list-time-label">{{label}}</div>
						{{#date}}
							<time class="o-date alphaville-list-time-date" data-o-component="o-date" data-o-date-format="date-only" datetime="{{.}}"></time>
						{{/date}}
					</div>
					<div class="alphaville-list-items" data-o-grid-colspan="12 L9">
						{{#items}}
							{{#isMarketsLive}}
								{{> list-cards/card-marketslive}}
							{{/isMarketsLive}}

							{{^isMarketsLive}}
								{{#withImage}}
									{{> list-cards/card-image}}
								{{/withImage}}
								{{^withImage}}
									{{> list-cards/card-generic}}
								{{/withImage}}
							{{/isMarketsLive}}
						{{/items}}
					</div>
				</div>

				{{#mpu}}
					{{> alphaville-ads/templates/mpu_mobile mpu_mobile_index=.}}
				{{/mpu}}
			{{/searchResults}}
		</div>
		<div class="main" data-o-grid-colspan="hide L4">
			{{#with mostRecentPost }}
                {{> alphaville-most-recent-post/main }}
            {{/with}}
			{{> alphaville-ads/templates/dmpu_desktop}}
			{{> twitterWidget}}
		</div>
	</div>
</div>
