{{#contentFor "head"}}
<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />
<script>
		(function () {
			ctmLoadScript({
				src: "{{assetsBasePath}}/build/main.js",
				async: true
			});
		}());
	</script>
{{/contentFor}}

<div class="o-grid-container">
	<div class="o-grid-row">
  {{#hero}}
    {{> card_hero}}
  {{/hero}}

		{{#searchResults}}

      {{#isBlog}}
        {{> card_blog}}
      {{/isBlog}}

      {{#isBriefing}}
        {{> card_briefing}}
      {{/isBriefing}}

      {{#isMarketLive}}
        {{> card_marketlive}}
      {{/isMarketLive}}

      {{#isPodcast}}
        {{> card_podcast}}
      {{/isPodcast}}

      {{#isAuthorLead}}
        {{> card_authorLead}}
      {{/isAuthorLead}}

      {{#isAuthorLeadWithImage}}
        {{> card_authorLeadWithImage}}
      {{/isAuthorLeadWithImage}}

      {{#isTopicLead}}
        {{> card_topicLead}}
      {{/isTopicLead}}

		{{/searchResults}}
	</div>
</div>

{{> commentsConfig}}
