{{#contentFor "head"}}
<link rel="stylesheet" href="{{assetsBasePath}}/build/main.css" />
<script>
	(function () {
		ctmLoadScript({
			src: "{{assetsBasePath}}/build/main.js",
			async: true
		});
	}());
</script>
{{> alphaville-ui/comments-config/main }}
{{/contentFor}}

<div class="o-grid-container alphaville-article-grid">
	<div class="o-grid-row alphaville-infinite-scroll-container">
		{{> grid-cards/item-list}}
	</div>
</div>
