<ul class="article__author-headshots">
	{{#article.authors}}
		<li>
			<a href="/author?q={{name}}" data-trackable="author-headshot">{{#headshotUrl}}<img src="{{.}}" />{{/headshotUrl}} {{name}}</a>
		</li>
	{{/article.authors}}
</ul>
<article class="article__body n-content-body" data-trackable="marketslive-transcript">
	{{{article.bodyHTML}}}
</article>
