{{#contentFor "head"}}
    <link rel="stylesheet" href="{{assetsBasePath}}/build/search.css" />
    <script>
        (function () {
            ctmLoadScript({
                src: "{{assetsBasePath}}/build/search.js",
                async: true
            });
        }());
    </script>
{{/contentFor}}

<div class="o-grid-container">
    <div class="o-grid-row">
        <div class="main" data-o-grid-colspan="hide L8">
            <div class="article-list">
                <h1 class="search-term">Search results for: {{searchTerm}}</h1>
                {{#if searchResults}}
                    {{#each searchResults}}
                        {{> article-list }}
                    {{/each}}
                {{else}}
                    <p>No results found.</p>
                {{/if}}
            </div>
        </div>
        <div data-o-grid-colspan="hide L4">
            {{> twitterWidget}}
        </div>
    </div>
</div>
