{{#contentFor "head"}}
    <link rel="stylesheet" href="{{assetsBasePath}}/build/search.css" />
    <script>
        (function () {
            ctmLoadScript({
                src: "{{assetsBasePath}}/build/search.js",
                async: true
            });
        }());
    </script>
{{/contentFor}}

<div class="o-grid-container alphaville-article-list">
    <div class="o-grid-row">
        <div class="main" data-o-grid-colspan="L8">
            <div class="article-list">
                <h1 class="o-typography-heading1">Search results: {{searchTerm}}</h1>
                {{#if searchResults}}
                    {{#each searchResults}}
                        {{> list-cards/card-generic }}
                    {{/each}}
                {{else}}
                    <p>No results found.</p>
                {{/if}}
            </div>
        </div>
        <div data-o-grid-colspan="hide L4">
            {{#with mostRecentPost }}
                {{> alphaville-most-recent-post/main }}
            {{/with}}
            {{> alphaville-ads/templates/dmpu_desktop}}
            {{> twitterWidget}}
        </div>
    </div>
</div>
