@import 'alphaville-marketslive-session-notification/main';

.alphaville-article-list {
	.alphaville-card {
		background: none;
	}

	.alphaville-card-container {
		border-bottom: 1px solid #f6e9d8;
		margin: 5px 0;

		a {
			border-bottom: 0;
		}

		&:last-child {
			border-bottom: 0;
		}
	}

	.alphaville-card--marketslive {
		.alphaville-card__live-title {
			@include marketslive-live-title();
			text-transform: uppercase;
		}

		.alphaville-card__live-notification-icon {
			@include marketslive-lozenge-icon(13);
			margin-bottom: -2px;
		}
	}
}
