@import './common';

@import 'components/share/main';
@import 'o-comments/main';

$o-video-is-silent: false;
@import 'o-video/main';

$o-expander-is-silent: false;
@import 'o-expander/main';

.o-footer {
	margin-top: 0;
}

.alphaville-in-article-ad2 {
	display: none;
}

.alphaville-in-article-ad--mobile-only {
	display: block;

	@include oGridRespondTo(M) {
		display: none;		
	}
}

@import 'components/article-page';
@import 'components/marketslive-transcript';
