@import './assets';

@import 'alphaville-ui/main';
@import './components/spinner';

.alphaville-pagination {
	text-align: center;
	margin: 15px;

	.alphaville-pagination-label {
		margin: 0 15px;
		display: inline-block;
	}
}

.alphaville-spinner {
	@include alphaville-spinner($size: 30px, $color: oColorsGetPaletteColor('pink-tint2'));
}
