@import './common';

$o-forms-is-silent: false;
@import 'o-forms/main';

@import './components/article-grid';

.alphaville-card-curation {
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.5);
	padding: 5px;
	white-space: nowrap;

	.o-forms__select {
		width: auto;
	}
}

.alphaville-curation--save-in-progress {
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: oColorsGetPaletteColor('paper');
	}
}

.alphaville-curation--spinner {
	@include alphaville-spinner($size: 60px);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -30px;
	margin-top: -30px;
	z-index: 5;
}

.alphaville-curation-char-limit-save {
	margin-top: 12px;
}

@import './components/article-list';
