@import './common';
@import 'o-forms/main';
@import './components/article-grid';

@include oForms($opts: (
	'elements': ('text', 'checkbox'),
	'features': ('disabled', 'small', 'suffix')
));

.alphaville-card-curation {
	position: absolute;
	display: flex;
	top: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.5);
	padding: 5px;
}

.alphaville-card-curation__field {
	margin-bottom: 0;
	&:not(:last-child) {
		margin-right: 1rem;
	}
}

.alphaville-curation--save-in-progress {
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: oColorsByName('paper');
	}
}

.alphaville-curation--spinner {
	@include alphaville-spinner($size: 60px);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -30px;
	margin-top: -30px;
	z-index: 5;
}

@import './components/article-list';
