@import './common';

$o-card-is-silent: false;

@import 'o-card/main';
@import 'n-content-body/main';
@import 'components/share/main';

.main {
	margin-top: 10px;
	margin-bottom: 10px;

  a {
    border-bottom: 1px dotted transparent!important;
    &:hover {
      border-bottom: 1px dotted #27757b!important;
    }
  }



	.o-card {

    position: relative;
    overflow: hidden;
    height:255px;

		.o-card__content {
      img {
        display: none
      }
      .o-card__meta{

        &.card-primaryTheme {
          border-bottom: 1px solid #cec6b9;
          margin-bottom: 10px;

          .o-card__tag {
            font-size: 22px;
            text-transform: uppercase;
            line-height: 24px;
          }
        }
      }

      h2.o-card__heading {
        line-height: 28px;
        font-size: 28px;
        margin-bottom: 0px;
      }


      .card-footer {
        position: absolute;
        bottom: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        width:100%;

        .o-card__timestamp {
          margin-top: 7px;
        }

      }

			.o-card__timestamp, .o-card__tag {
				display: inline-block;
				padding: 0px;
			}


			.post-openingHTML {

			}


		}

	}

  &.marketlive {
    .o-card__content {
      .post-openingHTML {
        margin-top:10px;
        .description {
          background-color:#F6E9D8;
          border-left: 3px solid #9E2F50;
          padding: 10px 15px;
          margin-bottom: 10px;
        }
        p {
          margin-bottom:10px;
        }
      }
    }
  }

  &.podcast {
    .o-card {
      height:255px;
      .o-card__content {
        h2.o-card__heading {
          margin-bottom: 10px;
        }
        img {
          display: inline;
          float: left;
          margin-right: 10px;
        }
      }
    }
  }

  &.hero, &.heroWithImage {

    .o-card {

      .o-card__content {

        .o-grid-container {
          padding-left:10px;
          padding-right:0px;
          div[data-o-grid-colspan] {
            padding-left:10px;
          }
        }

        .o-card__meta{
          &.card-primaryTheme {
            border-bottom: none;
            margin-bottom: 0px;

            .o-card__tag {
              font-size: 14px;
              text-transform: uppercase;
              line-height: 16px;
            }
          }
        }

        h2.o-card__heading {
          line-height: 38px;
          font-size: 40px;
          margin-bottom: 10px;
        }

        .post-openingHTML {
        }

      }
    }

  }

  &.heroWithImage {
    .o-card {
      .o-card__content {
        img.heroImage {
          display: inline;
        }
      }
    }
  }

  &.authorLead {
    .o-card {
      .o-card__content {
        .post-openingHTML {
        }

      }
    }
  }
  &.authorLeadWithImage {

    .o-card {
       background-size: 100% auto;

      .o-card__content {
        .o-card__meta {
          &.card-primaryTheme {
            a.o-card__tag {
              color: white;
              &:hover {
                color: white;
                border-bottom:1px dotted white!important;
              }

            }
          }
        }
        h2.o-card__heading {
          color: white;
          a:hover {
            color: white;
            border-bottom:1px dotted white!important;
          }
        }
        .post-openingHTML {
          color: white;
        }
        .card-footer  {
          color: white;
          .o-date, a, a:hover {
            color: white;
          }
        }
      }
    }
  }
}
@import './components/article-list';
