@import './common';

$o-card-is-silent: false;
@import 'o-card/main';

@import 'components/cards/main';
@import 'components/share/main';

.alphaville-article-grid {
	.alphaville-card-container {
		margin-top: 10px;
		margin-bottom: 10px;
		height: 200px;

		a {
			border-bottom: 0;
		}
	}
}

@import './article-list';
