@import './common';

$separator_color: #cec6b9;
$contact_color: #27757B;

.title {
  	margin: 16px 0 0 16px;
	font-size: 34px;
	font-weight: 400;
    @include oGridRespondTo(M) {
		margin: 32px 0 0 112px;
		font-size: 44px;
    }
}

.team__member {
	padding-top: 16px;
	margin-left: 16px;
	border-top: 1px solid $separator_color;
	font: 16px/1.2 Georgia, serif;
  	&:first-child {
		border: 0;
	}
	@include oGridRespondTo(M) {
		font: 18px/1.4 Georgia, serif;
		padding-top: 32px;
		margin-left: 0;
	}
}

.team__member__name {
    font-size: 24px;
	font-weight: 400;
	@include oGridRespondTo(M) {
		font-size: 34px;
	}
}

.team__member__thumb {
	width: 40px;
	height: 40px;
    margin-right: 16px;
	float: left;
	img {
      	width: 100%;
        height: 100%;
		border-radius: 50%;
        background-size: 100% 0;
		background-color: white;
        overflow: hidden;
        background-position: 50% 50%;
	}
	@include oGridRespondTo(M) {
		width: 80px;
		height: 80px;
		margin-right: 32px;
	}
}

.team__member__info {
	p {
		margin: 16px 0 0 0;
	}
	@include oGridRespondTo(M) {
		overflow: hidden;
	}
}

.team__member__links {
	width: 100%;
	padding: 0;
	list-style-type: none;
	& > li {
		display: block;
		width: auto;
		margin-top: 8px;
		a {
			color: $contact_color;
		}
	}
	@include oGridRespondTo(M) {
		margin: 0 0 16px 0;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		& > li {
			width: 33.3%;
            word-wrap: break-word;
			margin-top: 16px;
            float: left;
			display: inline-block;
            &.twitter {
				text-align: center;
			}
			&.posts {
				text-align: right;
			}
		}
	}
}
