@import './common';

$separator_color: #cec6b9;
$contact_color: #27757B;

.title {
	margin: 32px 0 0 112px;
  	font-size: 44px;
	font-weight: 400;
}

.team__member {
	clear: both;
	padding-top: 32px;
	border-top: 1px solid $separator_color;
  	&:first-child {
		border: 0;
	}
}

.team__member__name {
    font-size: 34px;
	font-weight: 400;
}

.team__member__thumb {
	width: 80px;
  	float: left;
  	margin-right: 32px;
	img {
      	width: 100%;
		height: 80px;
		border-radius: 50%;
        background-size: 100% 0;
		background-color: white;
        overflow: hidden;
        background-position: 50% 50%;
	}
}

.team__member__info {
	overflow: hidden;
	p {
		margin: 16px 0 0 0;
		text-align: justify;
	}
}

.team__member__links {
	width: 100%;
	margin: 16px 0 16px 112px;
	padding: 0;
	list-style-type: none;
	& > li {
		width: 33%;
		display: inline-block;
		a {
			color: $contact_color;
		}
	}
}
