@import './common';

.alphaville-article-list .alphaville-list-time {
	margin-top: 24px;
}

.alphaville-ml-description {
	border-bottom: 1px solid oColorsGetPaletteColor('pink-tint3');
}

.ml-visible-editors {
	display: none;
}

.ml-editor .ml-visible-editors {
	display: inline-block;
}
