@import './common';
$o-card-is-silent: false;
@import 'o-card/main';

@import './article-list';

.search-term {
	line-height: 40px;
	padding-left: 10px;
	font-size: 36px;
	font-family: serif;
	font-weight: 400;
}
