@import './article-series';

.alphaville-article-list {
	.alphaville-list-time {
		margin-top: 20px;

		.alphaville-list-time-label {
			font-size: 16px;
			line-height: 18px;
			font-weight: 600;
		}

		.alphaville-list-time-date {
			font-size: 16px;
			line-height: 22px;
			color: oColorsGetPaletteColor('warm-6');
			font-weight: 600;
			text-transform: uppercase;
		}
	}

	.alphaville-card {
		background: none;
		padding-left: 0;
		padding-right: 0;
	}

	.alphaville-ad-stream {
		padding: 20px 0;
		border-bottom: 1px solid oColorsGetPaletteColor('pink-tint3');
	}

	.alphaville-card-container {
		border-bottom: 1px solid oColorsGetPaletteColor('pink-tint3');
		padding: 10px 0 20px;

		a {
			border-bottom: 0;
		}
	}

	.alphaville-card--marketslive {
		.alphaville-card__live-title {
			@include marketslive-live-title();
			text-transform: uppercase;
			font-size: 16px;
			line-height: 18px;
		}

		.alphaville-card__live-notification-icon {
			@include marketslive-lozenge-icon(16);
			margin-bottom: -3px;
		}
	}

	.o-expander__toggle {
		float: right;
		color: oColorsGetPaletteColor('teal-1');
		font-weight: bold;
		outline: 0;
		overflow: hidden;

		i {
			@include oIconsGetIcon('arrow-down', oColorsGetPaletteColor('teal-1'), 17);
			position: relative;
			top: 5px;
		}
	}

	.o-expander__content {
		clear: both;
		transition: 2s all ease;
		max-height: 9999px;
		padding-top: 20px;

		&[aria-hidden="true"] {
			max-height: 0;
			transition: 0.2s all ease;
		}

		.alphaville-spinner {
			margin: 30px auto;
		}
	}
}
