.alphaville-series__wrapper {
	background-color: #fdf8f2;
	border-left: 3px solid #2B757A;
	padding: 10px 16px;
	margin-bottom: 16px;

}

.alphaville-series__toggle {
	@include oTypographySans(s);
	font-size: 16px;
	cursor: pointer;
	outline: 0;

	i {
		display: none;
	}

	& > span {
		@include oTypographySansBold(s);
		font-weight: bold;
		font-size: 16px;
		text-transform: uppercase;
		display: inline-block;
		position: relative;

		&:before {
			background-image: url(https://image.webservices.ft.com/v1/images/raw/fticon-v1:arrow-right?source=Alphaville);
			background-repeat: no-repeat;
			background-size: contain;
			background-color: transparent;
			width: 16px;
			height: 16px;
			display: inline-block;
			vertical-align: middle;
			position: absolute;
			top: 0;
			right: -16px;
			content: "";
		}
	}

	&[aria-expanded="true"] {
		& > span {
			&:before {
				background-image: url(https://image.webservices.ft.com/v1/images/raw/fticon-v1:arrow-down?source=Alphaville);
			}
		}
	}
}

.alphaville-series__articles {
	margin: 8px 0;
	padding-left: 0;
	list-style-position: inside;

	li {
		@include oTypographySans(s);
		font-size: 16px;
	}

	&.active {
		display: block;
	}

	a,
	a:hover {
		@include oTypographySans(s);
		font-size: 16px;
		color: #2e6e9e;
		text-decoration: none;
		border-bottom: 0;
	}
}

.alphaville-series__content {
	display: none;

	&[aria-hidden="false"] {
		display: block;
	}
}
