$border-color: #cec6b9;
$bg-color: #fff1e0;
$timestamp-color: #8b572a;

.recent-post {
  position: relative;
  border: 1px solid $border-color;
  margin-top: 10px;
  padding: 15px 25px 15px 20px;

  .o-date {
    display: block;
    text-transform: uppercase;
    color: $timestamp-color;
  }
}
.recent-post__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  left: 10px;
  top: -10px;
  background-color: $bg-color;
  position: absolute;
  font-family: FinancierDisplayWeb,serif;
  margin: 0;
  padding: 0 10px;
}
.recent-post__link {
  text-decoration: none;
  border: 0;
  line-height: 29px;
  font-family: FinancierDisplayWeb,serif;
  color: #333;
  font-size: 26px;
  font-weight: 400;
}
