{{#if withInlineRead}}
	<div data-o-component="o-expander" class="o-expander o--if-js clearfix alphaville--read-more__expander"
			data-o-expander-shrink-to="hidden"
			data-o-expander-expanded-toggle-text="read less"
			data-o-expander-collapsed-toggle-text="read more"
			data-article-url="{{av2WebUrl}}"
			data-trackable="read-more">
		<button class="o-expander__toggle o--if-js alphaville--read-more__toggle" data-trackable="toggle"></button>
		<div class="o-expander__content alphaville--read-more__content"></div>
	</div>
{{/if}}
