<div class="alphaville-card-container">
	{{#isMarketsLive}}
		{{> list-cards/card-marketslive}}
	{{/isMarketsLive}}

	{{#isBlog}}
		{{> list-cards/card-generic}}
	{{/isBlog}}

	{{#isFirstFT}}
		{{> list-cards/card-firstft}}
	{{/isFirstFT}}

	{{#withInlineRead}}
	<div data-o-component="o-expander" class="o-expander o--if-js clearfix"
			data-o-expander-shrink-to="hidden"
			data-o-expander-expanded-toggle-text="read less"
			data-o-expander-collapsed-toggle-text="read more"
			data-article-url="{{_source.av2WebUrl}}">
		<button class="o-expander__toggle o--if-js"></button>
		<div class="o-expander__content"></div>
	</div>
    {{#_source.seriesArticles}}
        {{> series-articles }}
    {{/_source.seriesArticles}}
	{{/withInlineRead}}
</div>
