<div class="alphaville-card__standfirst {{#isFurtherReading}}alphaville-card__standfirst-truncate-5lines{{/isFurtherReading}}{{^isFurtherReading}}alphaville-card__standfirst-truncate-4lines{{/isFurtherReading}}">
	{{{_source.summaries.[0]}}}
</div>
