@import 'colors';

@mixin articleContentBox() {

	box-sizing: border-box;
	position: relative;
	clear: left;
	margin: 24px 0 16px;
	padding: 16px 0;
	width: 100%;

	.o-expander__toggle {
		@include oTypographySans($scale: -1);
		margin-top: 12px;
		i {
			@include oIconsContent('arrow-down', oColorsByName('teal-40'), 12);
			display: inline-block;
			padding: 0 12px;
			box-sizing: border-box;
			&:hover {
				@include oIconsContent('arrow-down', oColorsByName('black-80'), 12);
			}
		}
		&:hover {
			color: oColorsByName('black-80');
			text-decoration: none;
		}
		&[aria-expanded="true"] i {
			@include oIconsContent('arrow-up', oColorsByName('teal-40'), 12);
			&:hover {
				@include oIconsContent('arrow-up', oColorsByName('black-80'), 12);
			}
		}
	}
}

@mixin articleContentBoxInline() {
	float: left;
	@include oGridRespondTo(S) {
		max-width: 300px;
		margin-right: 24px;
	}
}

@mixin articleContentBoxTitle() {
	margin: -40px 0 8px 10px;
}

@mixin articleContentBoxTitleText() {
	@include oTypographyDisplay($scale: 2);
	color: oColorsByName('black-70');
	display: inline-block;
	padding: 10px;
	padding-bottom: 0;
	margin: 0;
	font-weight: 900;
	background-color: inherit;
	a {
		color: oColorsByName('black-70');
		border-bottom: 0;
		text-decoration: none;
	}
}


@mixin articleLists() {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}

@mixin articleListsCols() {
	overflow: auto;
	width: 100%;

	& > li {
		float: left;
		margin-left: 2%;
		width: 49%;

		&:nth-child(odd) {
			margin-left: 0;
		}
	}
}

@mixin articleLinksTopic() {
	color: oColorsByUsecase('tag-link', 'text');
	@include oTypographySans($scale: -2, $weight: 'semibold');
	border-bottom-color: transparent;
	text-decoration: none;

	&:hover,
	&:focus {
		border-bottom-color: oColorsByUsecase('tag-link-hover', 'text');
		color: oColorsByUsecase('tag-link-hover', 'text');
		border-bottom-style: dotted;
		border-bottom-width: 1px;
	}
}

@mixin articleListsItem() {
	background: transparent;
	border: 1px solid rgba(oColorsByName('black'), 0.25);
	border-width: 0 0 1px;
	min-width: 200px;
	vertical-align: top;

	> a {
		@include articleListsItemLink();
	}
}

@mixin articleListsItemLink() {
	@include articleLinksTopic();
	display: block;
	padding: 2px 15px 2px $article-body-spacing-unit/2;
	position: relative;
	text-decoration: none;
	border-bottom-width: 0;
	&:after {
		@include oIconsContent('arrow-right', oColorsByName('black'), 10);
		content: '';
		opacity: 0.25;
		position: absolute;
		right: 0;
		top: 8px;
	}
	&:hover,
	&:focus {
		background: rgba(oColorsByName('black-20'), 0.1);
		border-bottom-width: 0;
		&:after {
			@include oIconsContent('arrow-right', oColorsByName('black-80'), 10);
		}
	}
}
