.n-content-pullquote {
	@include articleContentBox;
	@include articleContentBoxInline;
	border: 1px solid oColorsGetPaletteColor('black-20');

	p {
		margin: 5px 0 0;
	}

	&:before {
		@include oIconsGetIcon('speech-left', oColorsGetPaletteColor('black-70'), 26);
		content: "";
		position: absolute;
		top: -16px;
		left: 20px;
		background-color: oColorsGetPaletteColor('paper');
	}
}

.n-content-pullquote--with-image {
	padding-bottom: 0;
	.n-content-pullquote__content {
		padding-bottom: 16px;
	}
}

.n-content-pullquote__content {
	padding-left: 16px;
	padding-right: 16px;
}

.n-content-pullquote__footer {
	@include oTypographySansBold($scale: -1);
	font-style: normal;
}
