.n-content-related-box,
.n-content-info-box {
	@include articleContentBox;
	border: 1px solid oColorsGetPaletteColor('black-20');
}

.n-content-related-box {
	@include articleContentBoxInline;

	.o-expander__toggle {
		margin-left: 16px;
	}
}

.n-content-info-box {
	padding-left: 16px;
	padding-right: 16px;
}

.n-content-related-box__title {
	@include articleContentBoxTitle;
}

.n-content-related-box__title-text {
	@include articleContentBoxTitleText;
	background-color: oColorsGetPaletteColor('paper');
}

.n-content-related-box__image-link {
	.core & {
		display: none;
	}
}

.n-content-related-box__headline,
.n-content-info-box__headline {
	@include oTypographySansBold($scale: 2);
	font-size: 26px;
	line-height: 27px;
	margin: 8px 16px;
	color: oColorsGetPaletteColor('black-90');
	word-wrap: break-word;
	p {
		margin: 0;
	}
}

.n-content-related-box__content,
.n-content-info-box__content {
	margin-left: 16px;
	margin-right: 16px;
	clear: left;
	p {
		margin: 5px 0 0;
	}
	ul,
	ol {
		padding-left: 20px;
	}
}
