<div class="alphaville-card-container" data-o-grid-colspan="12 S6 M4" data-trackable="card">
	<div class="alphaville-card alphaville-card--grid alphaville-card--fill-space alphaville-card--firstft" data-o-component="o-card" data-article-id="{{_id}}" data-trackable="firstft">
		<div class="alphaville-card__content">
			<div class="alphaville-card__meta">
				<a href="{{_source.primaryTheme.[0].url}}" class="alphaville-card__tag" data-trackable="theme">
					<span class="alphaville-card__tag-part1">First</span>
					<span class="alphaville-card__tag-part2">FT</span>
				</a>
			</div>

			{{> grid-cards/elements/heading}}

			<div class="alphaville-card__footer">
				{{> comment-counter}}
				{{> timestamp}}
			</div>
		</div>
	</div>
</div>
