<div class="alphaville-card-container" data-o-grid-colspan="12 S6 M4">
	<div class="alphaville-card alphaville-card--fill-space alphaville-card--image-lead o-card" data-o-component="o-card" data-article-id="{{_id}}" data-card-type="imagelead">
		<div class="alphaville-card__image-background">
			<div style="background-image: url({{image _source.mainImage.url 250 medium}})"></div>
		</div>
		<div class="alphaville-card__content">
			{{> grid-cards/elements/primaryTheme}}

			{{> grid-cards/elements/heading}}

			<div class="alphaville-card__footer">
				{{> comment-counter}}
				<time data-o-component="o-date" class="o-date alphaville-card__timestamp" datetime="{{_source.publishedDate}}">{{_source.publishedDate}}</time>
			</div>
		</div>
	</div>

	{{#if curation}}
		{{> curation}}
	{{/if}}
</div>
