<div class="alphaville-card-container" data-o-grid-colspan="12 S12 M8" data-trackable="card">
	<div class="alphaville-card alphaville-card--grid alphaville-card--fill-space alphaville-card--hero {{#if withImage}}alphaville-card--with-image{{/if}}" data-article-id="{{id}}" data-trackable="hero">
		<div class="alphaville-card__content">
			{{#if withImage}}
				<a href="{{av2WebUrl}}">
					<img class="alphaville-card__image" src="{{image mainImage.url 250 'medium'}}" alt="{{mainImage.title}}">
				</a>
			{{/if}}

			{{> grid-cards/elements/primaryTheme}}

			{{> grid-cards/elements/heading}}

			{{> grid-cards/elements/standfirst}}

			<div class="alphaville-card__footer">
				{{!-- Comment count will be reintroduced once migration is complete --}}
				{{!-- {{> comment-counter}} --}}
				{{> timestamp}}
			</div>
		</div>
	</div>

	{{#if curation}}
		{{> curation}}
	{{/if}}
</div>
